### BEGIN_AWSSSOHELPER ###

[profile aws_root]
sso_start_url = {{.SSOStartURL}}
sso_region ={{.SSORegion}}
sso_account_id = {{.SSOAccountID}}
sso_role_name = {{.SSORoleName}}
region = us-east-1

[profile aws_{{.SSOAccountID}}]
sso_start_url = {{.SSOStartURL}}
sso_region = {{.SSORegion}}
sso_account_id = {{.SSOAccountID}}
sso_role_name = {{.SSORoleName}}
region = us-east-1

### END_AWSSSOHELPER ###