### {{$.Marker}}_START ###

{{range .AccountList}}
# Account Name: {{.AccountName}}
# Account Email: {{.EmailAddress}}
[aws_{{.AccountId}}]
role_arn = arn:aws:iam::{{.AccountId}}:role/{{$.AssumeRoleName}}
source_profile = aws_{{$.SSOAccountID}}
role_session_name = AssumedAccessRole
{{end}}

### {{$.Marker}}_END ###
