### {{$.Marker}}_START ###

{{range .AccountList}}

# Account Name: {{.AccountName}}
# Account Email: {{.EmailAddress}}
[profile {{.NormalizedAccountName}}]
sso_start_url = {{$.Params.SSOStartURL}}
sso_region = {{$.Params.SSORegion}}
sso_account_id = {{.AccountId}}
sso_role_name = {{$.Params.SSORoleName}}
region = {{$.Params.DefaultRegion}}
output = {{$.Params.DefaultFormat}}

[profile {{.AccountId}}]
sso_start_url = {{$.Params.SSOStartURL}}
sso_region = {{$.Params.SSORegion}}
sso_account_id = {{.AccountId}}
sso_role_name = {{$.Params.SSORoleName}}
region = {{$.Params.DefaultRegion}}
output = {{$.Params.DefaultFormat}}

{{end}}

### {{$.Marker}}_END ###
